<%- contentFor(`signin`) %>
<div>
    <input id="usernameInput" type="text" placeholder="Mrcodes Username">
    <input id="passwordInput" type="password" placeholder="Password">
    <button id="signinButton">Sign in</button>
    <p>If you don't have an account already, <a href="/signup">Sign up</a></p>
</div>