<%- contentFor(`signin`) %>
<div>
    <input id="usernameInput" type="text" placeholder="Mrcodes Username">
    <input id="passwordInput" type="password" placeholder="Password">
    <button id="signupButton">Sign up</button>
    <p>If you have an account already, <a href="/">Sign In</a></p>
</div>