<%- contentFor(`main`) %>
<h2 id="comingSoon">Coming soon!</h2>
<div id="expectations">
    <h3>Here's some things to expect:</h3>
    <ul>
        <li>Hacking Challenges</li>
        <li>Cryptography Challenges</li>
        <li>Project Challenges</li>
        <li>Algorithm Challenges</li>
        <li>Debugging Challenges</li>
    </ul>
</div>