<%- contentFor(`main`) %>
<div id="main">
    <ul id="sortOptions">
      <li id="0" class="sortOption selected">Most Followers</li>
      <li id="1" class="sortOption">Most Threads</li>
    </ul>
    <table id="leaderboard"></table>
</div>
