#main {
    margin: 0 100px;
    margin-top: -10px;
}

#mainContent {
    margin-left: 20px;
}

h2,h3,li {
    color: whitesmoke;
    font-family: monospace;
}
=======
h2 {
    color: whitesmoke;
    font-family: monospace;
    font-size: 25px;
}

label {
    color: white;
    font-size: 15px;
    font-family: monospace;
}

#sort div {
    display: inline-block;
    border-top: 5px solid white;
}

#sort:nth-child(1) {
    margin-left: 5px;
}
